body {
  background-image: url(images/bg.jpg);
  background-color: #acb1e0;
  background-size: cover; /* Ajuster la taille de l'image pour couvrir tout l'arrière-plan */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
  background-attachment: fixed;
}

.input-field {
  background-color: #ced0e0;
  border-radius: 5px;
  width: 200px;
  height: 25px;
  padding: 5px;
  border: #ced0e0;
  transition: ease-in-out 0.3s;
}
.input-field:focus {
  background-color: aliceblue;
  transition: ease-in-out 0.3s;
}

.input-field:hover {
  background-color: azure;
  transition: ease-in-out 0.3s;
}

.submit {
  background-color: #ced0e0;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  border: #ced0e0;
  border: solid black 1px;
  transition: ease-in-out 0.1s;
}
.submit:hover {
  background-color: azure;
  transition: ease-in-out 0.3s;
}
.submit:active {
  border: solid white 1px;
  transition: ease-in-out 0.1s;
}

.main {
  display: block;
  text-align: center;
  line-height: 30px;
}

.titremeteo {
  margin-top: 20px;
  font-size: larger;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #7a83cebe;
  border: 1px solid black;
  border-radius: 10px;
}

.temperatures {
  margin-top: 20px;
  font-size: larger;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #616dc5be;
  border: 1px solid black;
  border-radius: 10px;
}

.infos {
  margin-top: 20px;
  font-size: larger;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #424db1be;
  border: 1px solid black;
  border-radius: 10px;
}
